# Data Science Capstone: Assignment 1
#### This notebook will be used to complete the <b>Applied Data Science</b> Capstone Project "Battle of the Neighborhoods" using data science tools.

<ul>
    <li> I would like to sharpen my skills in Data Science tools using this project
    <li> Data Science is super cool!
</ul>

In [9]:
import pandas as pd
import numpy as np

In [10]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [22]:
df = pd.DataFrame(data={"Name": ["Aayu", "Riya", "Satya"], "Age": [13, 21, 52], "Movie": [["Comedy", "Adventure", "Horror"], ["Comedy", "Romance", "Sci-Fi"], ["Western"]]})

In [23]:
df

    Name  Age                        Movie
0   Aayu   13  [Comedy, Adventure, Horror]
1   Riya   21    [Comedy, Romance, Sci-Fi]
2  Satya   52                    [Western]